<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new Subscription:</h3>

    <form class="form new-sub-form">
      <div class="form-group">
        <label for="sub-name">Subscription name:</label>
        <input class="form-input" type="text" id="sub-name" name="sub-name" />
      </div>
      <div class="form-group">
        <label for="sup-price">Subscription price ($):</label>
        <input class="form-input" type="number" id="sub-price" name="sub-price" />
      </div>
      <div class="form-group">
        <label for="pay-date">Payment date:</label>
        <input class="form-input" type="date" id="pay-date" name="pay-date"/>
      </div>
      <div class="form-group">
        <label for="trial-check">is this a trial?</label>
        <input class="form-input col-md-1" type="checkbox" id="trial-check" onclick="showTrialPeriod()"/>
      </div>
      <div class="form-group" id="trial-period-div" style="display:none">
        <label for="trial-period">Trial duration:</label>
        <input class="form-input" type="number" onclick="showTrialPeriod()" id="trial-period"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary add">Add</button>
      </div>
    </form>
  </div>

<div id="calendar" style="height: 400px; width: 700px">

</div>

<script src="/js/calendar.js"></script>
<script src="./js/profile.js"></script>
