<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>

  <div id='calendar'>
    

  </div>

</div>


<script src="../public/js/calender.js"></script>
<script src="./js/profile.js"></script>
