header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#calendar .fc-today {
  color: rgb(103, 103, 103);
  font-size: 20px !important;
}

.jumbotron {
  background-color: #ffd966;
}

#main-title {
  color: #007fe0;
  font-size: 70px;
}

.lead {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}

#pieChart {
  margin-bottom: 45px !important;
  padding: 100px !important;
}

.data-chart-calendar {
  height: 50% !important;
  width: 80% !important;
}

footer {
  height: 35px;
}
