body {
  font-family: 'Fraunces', serif;
  background-image: url(https://i.postimg.cc/hGDgPMJG/white-monochrome-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#calendar .fc-today {
  color: rgb(103, 103, 103);
  font-size: 20px !important;
}

.jumbotron {
  /* background-color: #ffd966; */
  background: rgb(241,194,50);
  background: radial-gradient(circle, rgba(241,194,50,1) 0%, rgba(0,127,224,1) 65%, rgba(0,105,182,1) 100%);
  justify-content: center;
  margin: 5px auto;
}

#main-title {
  color: #0069b6;
  font-size: 70px;
  font-family: 'Fraunces', serif;
}

.lead {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  color: #0069b6;
}

#pieChart {
  margin-bottom: 45px !important;
  padding: 100px !important;
}

.data-chart-calendar {
  height: 50% !important;
  width: 80% !important;
}

footer {
  height: 35px;
}

#start-here {
  background-color: #0069b6;
}

#login-btn,
#logout,
#my-profile {
  color: #434343;
}

#login,
#sign-in {
  background-color: #0069b6;
}



